:root {
  --bg-main: #0b1220;
  --bg-card: rgba(255, 255, 255, 0.05);
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --accent: #22d3ee;
  --gradient: linear-gradient(90deg, #22d3ee, #a855f7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #111827, #020617);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--text-main);
  backdrop-filter: blur(10px);
  margin-top: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.nav-link {
  color: var(--text-muted);
  position: relative;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0px;
  background-color: var(--accent);
  bottom: -2px;
  transition: 1s all;
}

.nav-link:hover::after {
  width: 100%;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-title {
  color: var(--accent);
}

.hero-desc {
  line-height: 30px;
  color: var(--text-muted);
}

.custom-btn {
  background: linear-gradient(45deg, #22d3ee, #a855f7);
  border: none;
  border-radius: 20px;
  color: var(--text-main);
  transition: 1s transform;
  animation-name: upDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: no;
}

.custom-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(11, 76, 255, 0.4);
}

.profile-pic {
  max-height: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.section-padding {
  padding: 100px 40px;
}

.section-title {
  font-size: 4rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curly-waves {
  width: 200px;
}

.about-card {
  background-color: var(--bg-main);
  color: var(--text-muted);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.about-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top;
  margin-top: 15px;
  border: 5px solid var(--accent);
}

.card-designation {
  color: var(--accent);
}

.list-group {
  background-color: var(--bg-main);
}

.resume-btn {
  color: var(--text-main);
  border-radius: 15px;
  border: 1px solid white;
  height: 45px;
}

.resume-btn:hover {
  color: var(--bg-main);
  background: var(--gradient);
  border: none;
}

.icons {
  font-size: 30px;
}

.icons:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-title {
  font-size: 3rem;
  color: #3e89dd;
}

.profile-card {
  background: #0f0f0f;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #00f5ff;
  object-fit: cover;
}

.role {
  color: #00f5ff;
}

.stat h3 {
  color: #00f5ff;
}

.custom-btn {
  border-radius: 8px;
  padding: 10px;
}

.about-tag {
  border: 1px solid #007bff;
  background: #0f0f0f;
  color: #fff;
  border-radius: 6px;
  padding: 6px 14px;
}

.info-card {
  background: #0b1220;
  border-radius: 12px;
  padding: 20px;
  height: 100%;
}

.info-card i {
  color: #4183dc;
  font-size: 22px;
}

.info-card:hover {
  transition: all 1s;
  transform: scale(1.1);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.aboutme {
  font-size: 18px;
  margin-top: 40px;
}

.skill-card {
  background: #0b1220;
  border-radius: 15px;
  padding: 30px;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin-top: 30px;
  font-size: 21px;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(13, 126, 255, 0.3);
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 10px;
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.square-box {
  background: #111827;
  color: #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: 0.3s;
}
.square-box:hover {
  background: #2563eb;
  transform: translateY(-6px);
}
.nav-pills .nav-link {
  color: #fff;
}
.nav-pills .nav-link.active {
  background: #2563eb;
}

.nav-tabs .nav-link {
  color: #bfc7d5;
  border: none;
}

.nav-tabs .nav-link.active {
  background: #0d6efd;
  color: #fff;
  border-radius: 8px;
}

.custom-card {
  background: #111a2e;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-body h5 {
  font-size: 1.4rem;
}

.card-body p {
  color: #bfc7d5;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.nav-tabs .nav-link.active {
  border: none !important;
  background: #0d6efd;
  color: #fff;
  border-radius: 8px;
}

.service-card {
  background: #111a2e;
  border-radius: 14px;
  padding: 30px;
  height: 100%;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid #1f1f1f;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 0 1px #2b5783;
}

.service-card h5 {
  color: #fff;
  margin-top: 20px;
}

.service-card p {
  color: white;
  font-size: 14px;
}

.service-card a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
}

.service-card button {
  height: 40px;
  width: 130px;
  background: var(--gradient);
  border-radius: 15px;
}

.service-card a:hover {
  letter-spacing: 2px;
  transition: all 0.9s;
}

.button1 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 150px;
  border-radius: 15px;
}

.button1 a {
  border: none;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonials-img img {
  border-radius: 50%;
  width: 12vw;
}

.testimonials-text {
  background-color: #0b1220;
  transition: all 1s;
}

.testimonials-text:hover {
  transform: scale(0.9);
  box-shadow:
    rgba(8, 96, 146, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.testimonials-card img {
  border-radius: 50%;
}

.testimonials-card {
  background-color: #0c1222;
  border: none;
  width: 20vw;
}

.testimonials-card img {
  width: 12vw;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
  font-size: 35px;
  border-radius: 50%;
  margin-top: 10px;
  background: #4183dc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-map {
  border: 1px solid #232829;

  height: 10vh;
  border-radius: 1rem;

  transition: all 1s;
}

.item-map:hover {
    transform: scale(1.1);

  box-shadow:
    rgba(8, 96, 146, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item-tree:hover {
  box-shadow:
    rgba(8, 96, 146, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);

}

.iframe {
  background: var(--bg-card);
  transition: all 1s;
}

.iframe:hover {
  box-shadow:
    rgba(8, 96, 146, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.1);
}


.submit-btn{
    height: 3rem;
    width: 40vw;
    border-radius: 20px;
    border: none;
    background: var(--gradient);
    color: white;
 
}

.from-email{
    width: 40vw;
    background-color: var(--bg-main);
}

.form-type {
    background: var(--bg-card);
    border: #9ca3af;
}



.icone-map
{
    font-size: 35px;
    border-radius: 50%;
    margin-top: 10px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

        .icone-map {
    font-size: 35px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-map {
    border: 1px solid #232829;
    border-radius: 1rem;
    transition: all 0.4s ease;
}

.item-map:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(13, 126, 255, 0.3);
    transition: all 1s;
}

.iframe {
    background: var(--bg-card);
    border-radius: 1rem;

    transition: all 1s;
}



.iframe:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.form-type {
    background: var(--bg-card);
    border: none;
    border-radius: 1rem;
    transition: all 0.5s;

}

.submit-btn {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
     border: none;
      background-color: var(--bg-main);
    font-weight: 400;
    color: white;
}

.submit-btn:hover {
box-shadow: 0 10px 25px rgba(13, 126, 255, 0.3);
    background: var(--gradient);
    transition: all;
    transform: scale(1.1);
}

.form-type:hover {
    
    transform: translateY(-5px);
}
.located{
  color: #5ec883;
}  